html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

body {
	background-color: pink;
	background-image: url('assets/movies.jpg');
}

h1 {
	font-size: 35px;
	font-family: 'Rammetto One', cursive;
	width: 100%;
	text-align: center;
}

h2 {
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-family: helvetica;
	font-style: bold;
}

.questionBlock p {
	font-family: helvetica;
	font-size: 25px;
	margin-left: 20px;
}

label p {
	margin: 0 5%;
}

.questionBlock {
	width: 90%;
	margin: auto;
	border: .5px solid grey;
	box-shadow: 2px 2px 8px #000000;
	border-radius: 10px;
	background-color: seashell;
	margin-bottom: 20px;
}

.questionBlock form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 20px;
}

.choice {
	min-width: 250px;
	width: 22%;
	padding: 0;
	position: relative;
	margin-bottom: 20px;
}

.choice .float {
	position: relative;
	z-index: 2;
}

.choice input {
	display: none;	
	width: 0%;
}

.choice label {
	font-family: helvetica;
	font-size: 25px;
	padding-left: 10px;
	width: 90%;
	padding-top: 5px;
	margin: 5%;
}

.choice .overlay {
	width: 100%;
	height: 100%;
	border-radius:10px;
	position: absolute;
	z-index: 1;
	border: .5px solid grey;
	background: white;
	box-shadow: 2px 2px 8px #000000;
}

.choice:hover .overlay {
	background-color: rgba(192,192,192,.5);
}

.choice:active .overlay {
	background-color: rgba(192,192,192,.9);
	box-shadow: 0px 0px 0px;
}

.choice img {
	width: 90%;
	padding-top: 5px;
	margin: 5%;
}

.submit {
	display: none;
}

/*Result Box*/

.movieInfo {
	width: 90%;
	margin: auto;
	border: .5px solid grey;
	box-shadow: 2px 2px 8px #000000;
	border-radius: 10px;
	background-color: seashell;
	display: none;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.movieInfo .top {
	width: 90%;
	margin: auto;
	display: flex;
	flex: wrap;
}

.movieInfo .box1 {
	width: 30%;
	padding: 0 1%;
}

.movieInfo .box1 h2 {
	display: none;
}

.movieInfo .box1 img {
	width: 100%;
	margin-top: 84px;
	min-width: 150px;
	box-shadow: 2px 2px 8px #000000;

}

.movieInfo .box2 {
	width: 68%;
	margin-left: 2%;
}

.movieInfo h2 {
	text-align: left
}

.movieInfo h3 {
	font-family: helvetica;
	font-size: 25px;
}

.movieInfo p {
	font-family: helvetica;
}

.person {
	width: 125px;
	padding-right: 25px;
}

.person img {
	height: 125px;
	margin: auto;
	box-shadow: 2px 2px 8px #000000;
}

.movieInfo .directors, .movieInfo .writers {
	display: flex;
	flex-wrap: wrap;
}

.movieInfo .directors, .movieInfo .writers h3 {
	display: block;
	width: 100%;
	margin-top: 0;
}

.box3 {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.box3 h3 {
	width: 100%;
}

.box4 {
	width: 90%;
	margin: auto;
}

@media (max-width: 600px) {

	.movieInfo .top {
		display: block;
		margin: auto;
		width: 100%;
	}

	.movieInfo .box1 img {
		width: 90%;
		margin: auto;
		display: block;
	}

	.movieInfo .box1 {
		width: 100%;
		padding: 0;
	}

	.movieInfo .box2 {
		margin: auto;
	}

	.movieInfo .box3 {
		width: 68%;
		margin: auto;
		display: block;
	}

	.movieInfo .box1 h2 {
		display: block;
		text-align: center;
	}

	.movieInfo .box1 img {
		margin-top: 0
	}

	.movieInfo .box2 h2 {
		display: none;
	}

}