article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

/* TYPOGRAPHY =====
==================*/

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	color: white;
	border: 5px solid white;
	padding: 15px;
	margin: 15px 0px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: normal;
}

h2 span {
	color: #1cce6c;
	font-size: 48px;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: normal;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: grey;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* HERO ========
=================*/

.hero {
	background-image: url(https://images.unsplash.com/photo-1440658172029-9d9e5cdc127c?dpr=2&auto=compress,format&fit=crop&w=1199&h=726&q=80&cs=tinysrgb&crop=&bg=);
	background-size: cover;
	height: 75vh;
	padding: 10px;
}

header {
	background-color: white;
	width: 66.6666%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header .logo {
	padding: 10px 20px;
}

header .logo img {
	height: 40px;
}

header nav {
	display: flex;
	flex-direction: row;
}

header nav .navIcons {
	display: flex;
	flex-direction: row;
}

header nav ul li {
	display: inline-block;
	height: 100%;
	padding-top: 23px;

}

header nav ul li a {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 100%;
	padding-bottom: 19px;
	padding-right: 5px;
	padding-left: 5px;
}

header nav ul li a:hover {
	border-bottom: 5px solid #1cce6c;
}

header nav i {
	padding: 21px 10px;
	padding-top: 22px;
}

.searchHover {
	display: flex;
	flex-direction: row;
}

header nav i.fa-bars {
	margin-right: 15px;
}

.fa-bars:hover {
	padding-bottom: 18px;
	border-bottom: 5px solid #1cce6c;
}

header nav .searchBar {
	display: none;
	height: 30px;
	width: 150px;
	padding: 5px;
	border: none;
	background-color: lightgrey;
	margin-top: 17px;
	margin-left: 5px;
	margin-right: 5px;
}

.searchHover:hover {
	border-bottom: 5px solid #1cce6c;
}

.searchHover:hover .searchBar {
	display: inline-block;
}

.title {
	margin: 0 auto;
	margin-top: 100px;
	width: 66.6666%;
	max-width: 700px;
	text-align: center;
}

.title p {
	color: white;
}

.buttons {
	margin: 0 auto;
	text-align: center;
}

.buttons h3 {
	display: inline-block;
	border: 2px solid white;
	padding: 7px 20px;
	margin: 3px;
}

.buttons h3 a {
	color: white;
}

.buttons h3:hover {
	background-color: #1cce6c;
	border-color: #1cce6c;
}

.defaultHeader {
	text-align: center;
	padding: 60px;
}

.defaultHeader h2 {
	margin-bottom: 10px;
}

.defaultHeader h3 {
	color: grey;
}

.defaultHeader hr {
	width: 75px;
	border: 2px solid #1cce6c;
	margin-top: 40px;
	margin-bottom: 60px;
}

/* ABOUT US =========
===================*/

.aboutUs .gallery {
	display: flex;
	width: 100%;
	text-align: left;
}

.aboutUs .gallery .galleryItem {
	width: 33.333%;
	padding: 10px;
}

.aboutUs .gallery .image {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin-bottom: 30px;
}

.aboutUs .gallery .image img {
	height: 100%;
	width: auto;
}

.aboutUs .gallery h2 {
	font-size: 16px;
	text-transform: none;
}

.aboutUs .gallery p {
	font-size: 14px;
	margin: 25px 0;
	line-height: 25px;
}

.aboutUs .gallery .buttons {
	text-align: left;
	padding: 0;
	margin: 0;
}

.aboutUs .gallery .buttons h3 {
	font-size: 12px;
	border-color: lightgrey;
	margin: 0;
}

.aboutUs .gallery .buttons h3 a {
	color: grey;
	font-size: 12px;
}

.aboutUs .gallery .buttons h3:hover a {
	color: white;
}

.aboutUs .gallery .buttons h3:hover {
	border-color: #1cce6c;
}

/* WHY CHOOSE US ========
========================*/

.chooseUs {
	background-color: #eaeef1;
	padding: 60px;
	height: 80vh;
}

.chooseUs .wrapper {
	display: flex;
}

.chooseUs .whyChoose {
	width: 48%;
	margin-right: 2%;
}

.chooseUs .bestFeatures {
	width: 48%;
	margin-left: 2%;
}

.chooseUs h2 {
	font-size: 21px;
	margin-bottom: 50px;
}

.chooseUs h3 {
	font-size: 14px;
	text-transform: none;
	padding: 0;
	margin: 0;
}

.chooseUs p {
	font-size: 14px;
	line-height: 25px;
}

.chooseBox {
	display: flex;
}

.whyChoose .navItem {
	position: relative;
	background-color: white;
	border: 1px solid lightgrey;
	margin-top: 10px;
	padding: 10px 20px;
	margin-right: -1px;
}

.whyChoose .navItem i {
	position: absolute;
	visibility: hidden;
	color: #1cce6c;
	top: -7px;
	right: 47%;
	left: 47%;
}

.whyChoose .navItem .navBlock {
	position: absolute;
	display: none;
	width: 400px;
	background: white;
	border: 1px solid lightgrey;
}

.whyChoose .navItem .navBlock .image {
	height: 125px;
	width: 125px;
	margin: 15px;
	overflow: hidden;
	float: left;
}

.whyChoose .navItem .navBlock .image img {
	height: auto;
	width: 100%;
}

.whyChoose .navItem:hover {
	margin-top: 0;
	padding-top: 18px;
	border-top: 3px solid #1cce6c;
}

.whyChoose .navItem:hover i {
	visibility: visible;
}

.whyChoose .navItem .responsiveBlock {
	display: block;
	position: absolute;
	left: -1px;
	top: 37px;
}

.whyChoose .navItem:hover .responsiveBlock {
	display: block;
	position: absolute;
	left: -1px;
	top: 45px;
}

.whyChoose .navItem:hover .navBlock {
	display: block;
}

.whyChoose .navItem:hover .retinaBlock {
	top: 45px;
	left: -111px;
}

.whyChoose .navItem:hover .featuresBlock {
	position: absolute;
	top: 45px;
	left: -234px;
}

.bestFeatures div {
	margin-top: 5px;
}

.bestFeatures div div {
	display: flex;
	background-color: white;
	border: 1px solid lightgrey;
	padding: 15px;
	margin-top: 10px;
}

.bestFeatures div div .fa {
	padding-right: 15px;
}

.bestFeatures div p {
	background-color: white;
	border: 1px solid lightgrey;
	margin-top: -1px;
	padding: 15px;
	margin-bottom: 0;
}

.bestFeatures div p.infoBlock {
	display: none;
}

.bestFeatures div:hover p.infoBlock {
	display: block;
}

.bestFeatures div:hover div {
	background-color: #1cce6c;
	color: white;
}

/* OUR WORK =========
===================*/

.ourWork .workGallery {
	display: flex;
	flex-wrap: wrap;
}

.ourWork .workUnit {
	width: 30%;
	margin: 1.666666%;
	height: 250px;
	overflow: hidden;
	position: relative;
}

.ourWork .workUnit img {
	height: 100%;
	width: auto;
}

.ourWork .overlay {
	visibility: hidden;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.ourWork .workUnit:hover .overlay {
	visibility: visible;
	}

.ourWork .overlay .buttons h3 a {
	color: white;
	font-size: 14px;
}

/* BUSINESS SUCCESS ======
=========================*/

.businessSuccess {
	height: 50vh;
	background-image: url(https://images.unsplash.com/photo-1427477321886-abc24e8ce923?dpr=2&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=&bg=);
	background-size: cover;
	position: relative;
	z-index: 0;
}

.businessSuccess .underlay {
	position: absolute;
	width: 100%;
	height:100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: -1;
}

.businessSuccess .wrapper {
	display: flex;
}

.businessSuccess .successBox {
	width: 50%;
}

.businessSuccess .successBox h2 {
	font-size: 21px;
	margin: 30px 0px;
}

.businessSuccess .successBox p {
	font-size: 18px;
}

.businessSuccess .successBox .buttons {
	text-align: left;
}

.businessSuccess .successBox .buttons h3 {
	border-color: black;
}

.businessSuccess .successBox .buttons h3:first-child {
	margin-left: 0;
}

.businessSuccess .successBox .buttons h3 a {
	color: black;
}

.businessSuccess .successBox .buttons h3:hover {
	border-color: #1cce6c;
}

.businessSuccess .successBox .buttons h3:hover a {
	color: white;
}

.businessSuccess .iMacBox {
	width: 50%;
}

.businessSuccess .iMacBox img{
	width: 100%;
}

/* BEST SERVICES ======
======================*/

.bestServices .serviceContent{
	display: flex;
	width: 100%;
	height: 80vh;
}

.bestServices .serviceContent .smartphone {
	height: 80vh;
	width: 33.333%;
	display: flex;
	justify-content: center;
	z-index: -1;
}

.bestServices .serviceContent .smartphone img {
 	height: 100%;
	width: auto;
}

.bestServices .serviceContent .serviceMenu {
	width: 66.666%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: left;
	height: 80vh;
	padding-top: 30px;
}

.bestServices .serviceContent .serviceMenu h3 {
	font-size: 16px;
	text-transform: none;
	color: black;
	margin: 5px 0px;
}

.bestServices .serviceContent .serviceMenu p {
	font-size: 14px;
}

.bestServices .serviceContent .serviceMenu div {
	width: 50%;
	display: flex;
}

.bestServices .serviceContent .serviceMenu div .fontAwesome {
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 100%;
	border: 1px solid lightgrey;
}

.bestServices .serviceContent .serviceMenu div i {
	width: 100%;
	color: lightgrey;
	font-size: 20px;
}

.bestServices .serviceContent .serviceMenu div .fontAwesome:hover {
	background-color: #1cce6c;
	border-color: #1cce6c;
}

.bestServices .serviceContent .serviceMenu div .fontAwesome:hover i {
	color: white;
}

.bestServices .serviceContent .serviceMenu div .menuContent {
	width: 80%;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-top: none;
}

/* CREATIVE THEMES =====
=======================*/

.creativeThemes {
	background-image: url(https://images.unsplash.com/uploads/1412408486325945f081a/09b0f9e1?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=&bg=);
	background-size: cover;
	height: 60vh;
	position: relative;
	z-index: 0;
}

.creativeThemes .underlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: -1;
}

.creativeThemes .wrapper {
	display: flex;
	padding-top: 30px;
	z-index: 2;
}

.creativeThemes .videoBox {
	width: 50%;
	display: flex;
}

.creativeThemes .videoBox video {
	width: 450px;
	height: 300px;
}

.creativeThemes .themeBox {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: 30px;
	justify-content: center;
}

.creativeThemes h2 {
	font-size: 21px;
}

.creativeThemes h2 span {
	font-size: 21px;
}

.creativeThemes p {
	font-size: 14px;
}

.creativeThemes .themeBox .buttons {
	margin: 0;
	text-align: left;
}

.creativeThemes .themeBox .buttons h3 {
	border-color: black;
	font-size: 13px;
}

.creativeThemes .themeBox .buttons h3 a {
	color: black;
}

.creativeThemes .themeBox .buttons h3:hover {
	background-color: #1cce6c;
	border-color: #1cce6c;
}

.creativeThemes .themeBox .buttons h3:hover a {
	color: white;
}

/* THEME NAMES =====
===================*/

.themeNames .wrapper {
	display: flex;
	justify-content: space-between;
}

.themeNames .wrapper h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	text-transform: lowercase;
	color: lightgrey;
}

.themeNames .wrapper h3.up {
	margin-top: 62px;
	margin-bottom: 58px;
}	

.themeNames .wrapper h3.down {
	margin-top: 58px;
	margin-bottom: 62px;
}	

/* INFOBOX ======
================*/

.infoBox {
	height: 40vh;
	background-color: #212223;
}

.infoBox h2 {
	color: white;
	font-size: 16px;
	text-transform: none;
	margin: 30px 0;
}

.infoBox h3 a {
	font-size: 14px;
	color: grey;
}

.infoBox h3 a:hover {
	color: white;
}

.infoBox h3 a i {
	color: #1cce6c;
	font-weight: bold;
	font-size: 15px;
	padding-left: 5px;
}

.infoBox p {
	font-size: 14px;
	line-height: 20px;
}

.infoBox p a {
	color: grey;
}

.infoBox p a:hover {
	color: white;
}

.infoBox .wrapper {
	display: flex;
	flex-direction: row;
}

.infoBox .wrapper div {
	width: 25%;
	padding-right: 15px;
}

.infoBox .wrapper form {
	height: 30px;
}

.infoBox .wrapper .email {
	background-color: #3a3633;
	border: none;
	height: 30px;
	padding-left: 5px;
}

.infoBox .wrapper .submit {
	background-color: #1cce6c;
	color: white;
	border: none;
	padding: 6px 10px;
	padding-right: 13px;
	margin-left: -4px;
}

.infoBox .wrapper div .tags {
	width: 100%;
}

.infoBox .tags a {
	display: inline-block;
	font-size: 13px;
	line-height: 22px;
	color: grey;
	background-color: #3a3633;
	padding: 3px 10px;
	margin: 2px 0;
}

.infoBox .tags a:hover {
	background-color: #1cce6c;
}

/* FOOTER =============
======================*/

footer {
	background-color: #1e1d1d;
}

footer h3 {
	color: grey;
	padding: 20px 0px;
	margin: 0;
}

footer .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .social {
	padding: 0;
	overflow: visible;
	display: inline-flex;
}

footer a {
	font-size: 20px;
	color: white;
	background-color: #3a3633;
	border-radius: 100%;
	margin: 10px 2px;
	padding: 10px 8px;
}

footer a:first-child {
	margin-left: 0;
}

footer a:hover {
	background-color: #1cce6c;
}